<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
        <!-- <​a​ href=​"{% url 'social:begin' 'tu' %}"​>Login with TU</​a>​<​br​> -->
        <a href="{% url 'social:begin' 'tu' %}">Login with TU</a><br>
        {{user.username}} <br>
        <a href="{% url 'FindApp:form' %}">Edit Your Profile</a><br>
        <a href="{% url 'logout' %}"> Logout </a>

</body>
</html>