{% extends "base.html" %}
<!DOCTYPE html>
{% block title %}Home{% endblock %}
{% block content %} 
    <!-- <form> -->
         <div style="text-align: center">
                <div class="uk-margin">
                    <input class="uk-input uk-form-width-large" id="searchbox" type="text" placeholder="Search..">
                    <button class="uk-button uk-button-default" onclick="search()">Search</button>
                    <p id="demo"></p>
                </div> 
         </div>
    <!-- </form> -->
    
    <h4>List Advicesor</h4>
    <div style="width: 300px">
        {% for name in profile %}
            <a href="{% url 'FindApp:page' name.pk %}"><p>{{ name.name }} {{ name.last_name }}</p></a>
            <!-- <a href="/media/{{ name.image }}/"><img src="/media/{{ name.image }}/" width="82" height="86" ></a> -->
        {% endfor %}
    </div>
    
<script>
    function search()
    {   
        var myObj,txt = "";
        console.log("Click");
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            // respond = this.responseText
            // document.getElementById("demo").innerHTML = respond;
            // console.log(respond)
            if (this.readyState == 4 && this.status == 200) {
                myObj = JSON.parse(this.responseText);
                txt += "<table border='0'>"
                    
                    myObj.forEach(function(obj) {
                        txt += `<tr><td align='left'><a href="page/${obj.id}"> ${obj.name} ${obj.last_name} </a></td></tr>`
                    })
                txt += "</table>"  
            }
            document.getElementById("demo").innerHTML = txt;
            
            
            // var show = respond['name']
            // var show = respond.name
            // document.getElementById("demo").innerHTML = show;

        }
        var url = "api/profile/?format=json&search=" + document.getElementById("searchbox").value
        console.log(document.getElementById("searchbox").innerHTML)
        console.log(url)
        xhttp.open("GET", url , true);
        xhttp.send();
    }
</script>
{% endblock %}
